.container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
  padding: 50px 175px 15px 160px;
  background: url('../img/background.jpg');
  color: #fff;
  font-family: sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.header__logo {
  display: flex;
}

.logo {
  width: 47px;
  height: 53px;
  margin-right: 10px;
  opacity: 0;
}

h1 {
  font-size: 29px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

.header__contacts {
  display: block;
  text-align: right;
}

.mail {
  display: block;
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  font-weight: 400;
}

.phone {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.content {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 300px 300px 300px;
  gap: 35px 60px;
}

.products__name {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.product__item {
  position: relative;
}

.footer {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}

/*-------Hover header-------*/

.header__logo {
  background: url(../img/logo.png) 0 0 no-repeat;
  width: max-content;
  height: max-content;
}

.header__logo:hover {
  background: url(../img/logo2.png) 0 0 no-repeat;
}

.header__logo:hover a {
  color: #f26522;
}

.mail:hover {
  color: #f26522;
}

.phone:hover {
  color: #f26522;
}

/*----------Hover content--------*/

.product__item:hover a {
  color: #f26522;
}

.hover__block {
  display: none;
  background-color: #f26522;
  height: 60px;
  width: 302px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  margin-bottom: 48px;
  margin-left: 2px;
}

.hover__block p {
  display: block;
}

.hover__block:before,
.hover__block:after {
  content: '';
  display: flex;
}

.product__item:hover .hover__block {
  display: block;
  padding: 8px 15px 12px 15px;
}

.text {
  font-size: 10px;
  font-weight: 400;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  align-items: center;
}

.price span {
  font-size: 20px;
  font-weight: 400;
}

i {
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 15px;
}

.hover__block-bottom {
  display: none;
  background-color: #f26522;
  height: 60px;
  width: 302px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  margin-bottom: 39px;
}

.hover__block-bottom p {
  display: block;
}

.hover__block-bottom:before,
.hover__block-bottom:after {
  content: '';
  display: flex;
}

.product__item:hover .hover__block-bottom {
  display: block;
  padding: 8px 15px 12px 15px;
}
